<ion-view view-title="{{chat.name}}">
<ion-nav-buttons side="left">
          <a  ui-sref="tab.dash" class="button button-clear">
            <i class="ion-arrow-left-c"></i> Back
          </a>
        </ion-nav-buttons>

  <ion-content class="store-bg padding">
  <a class="remove-uline" href="#/tab/dash/store-detail/{{chat.id}}">
  <div class="list card no-margin-slide">

  <div class="item item-avatar item-icon-right">
    <img src="{{chat.face}}">
    <h2>{{chat.name}}</h2>
    <p>{{chat.lastText}}</p>
	<i class="icon ion-chevron-right icon-accessory"></i>
  </div>
  <div class="item item-body">
    <a href="#" class="subdued my-info">
      <i class="icon ion-clock"></i>
      Open/Close : 7:00 AM-10:00 PM
    </a>
    <a href="#" class="subdued my-info">
      <i class="icon ion-ios-telephone"></i>
      Tel : +974 4460 4242
    </a>    
  </div>

</div>
</a>
<a class="remove-uline" href="#/tab/dash/store-detail/{{chat.id}}">
<div class="list card no-margin-slide" >

  <div class="item item-avatar item-icon-right">
    <img src="{{chat.face}}">
    <h2>{{chat.name}}</h2>
    <p>{{chat.lastText2}}</p>
	<i class="icon ion-chevron-right icon-accessory"></i>
  </div>
  <div class="item item-body">
    <a href="#" class="subdued my-info">
      <i class="icon ion-clock"></i>
      Open/Close : 24 Hours
    </a>
    <a href="#" class="subdued my-info">
      <i class="icon ion-ios-telephone"></i>
      Tel : +974 4460 9645
    </a>    
  </div>

</div>
</a>
<a class="remove-uline" href="#/tab/dash/store-detail/{{chat.id}}">
<div class="list card no-margin-slide" >

  <div class="item item-avatar item-icon-right">
    <img src="{{chat.face}}">
    <h2>{{chat.name}}</h2>
    <p>{{chat.lastText3}}</p>
	<i class="icon ion-chevron-right icon-accessory"></i>
  </div>
  <div class="item item-body">
    <a href="#" class="subdued my-info">
      <i class="icon ion-clock"></i>
      Open/Close : 7:00 AM-10:00 PM
    </a>
    <a href="#" class="subdued my-info">
      <i class="icon ion-ios-telephone"></i>
      Tel : +974 4445 4765
    </a>    
  </div>

</div>
</a>


 

  </ion-content>
</ion-view>

